<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="account">

    <insert id="saveAccount" parameterType="com.qm.silijion.domain.Account" >
		INSERT INTO account
		(
		    id,
		    name,
		    money
		 )
		VALUES
		(
		    #{id},
		    #{name},
		    #{money}
		)
	</insert>

	<select id="findAll" parameterType="java.lang.Integer" resultType="com.qm.silijion.domain.Account">
		select * from account
	</select>

</mapper>


